# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Java
*.class
*.jar
target/

# IDE settings (Visual Studio Code, JetBrains)
.vscode/
.idea/

# Docker
docker-compose.override.yml