**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/htmlcov
**/.env
**/.env.*
!.env.example
**/venv
**/.venv
**/*.egg-info
**/dist
**/build
**/.git
**/.gitignore
**/tests
